@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* :root {
  --neon-blue: #74f94c;
  --bg: white;
} */


/* body {
  background-color: white;
  color: white;
} */