.exercise-detail-container {
  margin: 20px;
}

.exercise-detail-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.exercise-detail-content {
  display: flex;
  flex-wrap: wrap;
}

.exercise-item {
  width: calc(33.33% - 20px); /* 3개의 컬럼으로 나누기 */
  margin-right: 20px;
  margin-bottom: 20px;
}

.exercise-name {
  font-size: 20px;
  margin-bottom: 8px;
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.exercise-description {
  font-size: 16px;
}