/* 스타일은 필요에 따라 수정 가능 */
.search-container {
  text-align: center;
  margin: 0px 40px;
}

#search-input {
  width: 200px;
  padding: 5px;
  font-size: 12px;
}

#search-button{
  width: 50px;
}

/* #results {
  list-style: none;
  padding: 0;
}

#results li {
  margin: 5px;
  cursor: pointer;
} */