/* styles.css */
body{
  width: 100vw;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: #232529;
}

header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  /* background: #333; */
}

header nav {
  width: 100vw;
  height: 50px;
  border-bottom: 2px solid #35383f; /* 테두리를 오른쪽에 추가 */
  display: flex;
  flex-wrap: wrap;
  font-family:'Times New Roman', Times, serif
  /* margin:0;
  padding:0; */
}

#topmenu{
  width: 100vw;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color:white;
  margin:0;
  padding:0;
}

#topmenu img{
  width:50px;
  height:50px;
  margin-right: 50px;
}

ul#menu {
  display: flex;
  list-style: none;
  padding: 0;
}
ul#menu li {
  margin: 0 10px;
}
ul#menu li a {
  color: white;
  text-decoration: none;
}

/* .fixed{
  background-color: red;
  position:fixed;
} */

/* .toggle{
  
} */