/* styles.css */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
}

ul#menu {
  display: flex;
  list-style: none;
  padding: 0;
}
ul#menu li {
  margin: 0 10px;
}
ul#menu li a {
  color: white;
  text-decoration: none;
}

/* .fixed{
  background-color: red;
  position:fixed;
} */

/* .toggle{
  
} */